/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Clearfix::after{
    content: "";
    display: table;
    clear: both;

}
/* COMMON */
.contenitore{
    width: 60%;
    margin: auto;
    height: 1200px;
}
body{
    font-family: montserrat;
}
img{
    width: 100%;
}
.overlay::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
/* HEADER */
header{
    position: relative;
}
.logo{
    width: 100%;
}
.logo img{
    width: 180px;
    border-right: 1px solid lightgray;
    padding-right: 15px;
}
/* MENU' DI NAVIGAZIONE */
nav{
    margin: 30px 0px;
}
ul li{
  display: inline-block;
  list-style: none;
  padding-right: 10px;  
}
li a{
    text-decoration: none;
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: 20px;
}
/* BANNER */
.banner{
    width: 100%;
    height: 500px;
    margin: 20px 0px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    
} 
.object-fit-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}  
.banner-text{
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 40%;
    color: white;
}
/* MAIN */
main{
    width: 100%;
    height: 700px;
    margin: 10px 0px;
}
.main-top{
    width: 100%;
    padding: 20px 0px;   
}
.main-top h2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-top p{
    color: #949494;
}

.main-bottom{
    margin: 25px 0px;
    height: 600px;
    position: relative;
    
/* SEZIONE DELLE COLONNE */
}
.col{
    float: left;
    position: relative;
}
.main-bottom aside{
    width: 24%;
    
}
.col-center{
    width: 48%;
    margin: 0px 2%;
}
.col-img{
    height: 240px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.col-text h2{
    color: grey;
    padding: 20px 0px;
}

/* FOOTER */
footer{
    text-align: center;
    font-size: 20px;
    padding: 20px;
   
}
.cuore{
    color: red;
    font-size: 30px;
}

/* Lavorare sul banner occhio agli overlay e overflow */